/*index.css*/

/*div containing the image and text*/
body {
	background-color: #a9a9a9;
	margin: auto 0;
}

div#front-page {
	
}

/*big front page image*/
img#big-pic {
	max-width: 100%;
    height: auto;
    /*opacity: 0.8;*/
}

/*text on the front page image*/
.main-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 108px; /* TODO: will need to make this responsive*/
    color: black;

	
}

div.blank-space{
	/*background-color: black;*/
	height: 100px;
	max-width: 100%;
}

div#navigators {
	text-align:center;

}

.block1, .block2, .block3 {
    position: relative;
    display: inline-block;
    /*background-color: blue;*/
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

/*hovering*/
.block1:hover .image {
  opacity: 0.3;
}

.block1:hover .overlay{
  opacity: 1;
}

.block2:hover .image {
  opacity: 0.3;
}

.block2:hover .overlay{
  opacity: 1;
}

.block3:hover .image {
  opacity: 0.3;
}

.block3:hover .overlay{
  opacity: 1;
}

/*this needs to be responsive*/
.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* to remove bottom padding from images*/
img {
	vertical-align: bottom;
}
