/*viz.css*/

body {
	background-color: #fffde7;
}


div.blank-space{
	/*background-color: black;*/
	height: 10px;
	max-width: 100%;
}

/*div.title {
	text-align: center;
	height: 40px;
	max-width: 100%;
	font-family: 'Josefin Slab', serif;

	
}*/

.tooltip {
	position: absolute;
	pointer-events: none;
	text-align: left;
	/*padding: 4px;*/
	/*border: 5px solid black;
	border-radius: 4px;*/
	font-weight: bold;
	
}

/* dangerous, change*/
p {
	font-size: 25px;
	text-align: center;
	font-family: 'Josefin Slab', serif;
}

p#intro {
	font-size: 35px;
	text-align: center;
	font-family: 'Josefin Slab', serif;
	padding-left: 100px;
	padding-right: 100px;
}

p#outro {
	font-size: 30px;
	text-align: center;
	font-family: 'Josefin Slab', serif;
	padding-left: 100px;
	padding-right: 100px;
}

h1 {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 50px;
}
