/*viz.css*/

div.blank-space{
	/*background-color: black;*/
	height: 10px;
	max-width: 100%;
}

div.title {
	text-align: center;
	/*background-color: blue;*/
	height: 40px;
	max-width: 100%;

	
}

.tooltip {
	position: absolute;
	pointer-events: none;
	/*background-color: lightblue;*/
	/*height: 150px;
	width: 200px;*/
	text-align: left;
	padding: 4px;
	border-radius: 4px;
	font-weight: bold;
	color: black;
}

p {
	font-size: 25px;
	text-align: center;
}

p#intro {
	font-size: 30px;
	text-align: center;
}

